html {
    font-size: 20px;
}

body {
    overflow-x: hidden;
    min-width: 320px;
    font-family: "Microsoft YaHei", "Microsoft YaHei UI Light", "Arial Black";
    background-color: #ffffff;
}

.screen {
    position: relative;
    overflow: hidden;
    width: 32rem;
    margin: 0 auto;
    background: #fff;
}

.title {
    padding: .5rem;
    text-align: center;
    font-size: 1.5rem;
}

#banner img {
    width: 100%;
    height: 20rem;
}

#banner .fading-slider {
    height: 20rem;
}

#banner .wrap {
    width: 32rem;
}

#banner pre {
    color: rgba(255, 255, 255, .75);
    line-height: 24px;
}

#banner pre .hilite {
    display: block;
    white-space: pre-line;
    padding: 0 0 0 20px;

    font-weight: bold;
    line-height: 24px;
    color: #fff;
}

#banner .unslider {
    overflow: visible;
}

#banner .demo {
    padding: 0px 0;
}

#banner .demo > div {
    position: relative;
    padding: 0px;
    margin-bottom: 0px;

    background: #fff;
    color: #666;

    text-align: center;
    text-shadow: none;

}

#banner .demo.vertical-slider-wrapper > div {
    padding: 0;
}

#banner .demo.vertical-slider-wrapper ul li {
    padding: 40px;
}

#banner .unslider-nav, #setup .unslider-nav {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    top: auto;
    z-index: 10;
    margin: 0;
}

#banner .unslider-nav ol, #setup .unslider-nav ol {
    list-style: none;
    text-align: center;
}

#banner .unslider-nav ol li, #setup .unslider-nav ol li {
    display: inline-block;
    float: none;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    padding: 3px;

    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -999em;
    border: 2px solid #fff;
    cursor: pointer;

    opacity: .4;
}

#banner .unslider-nav ol li.unslider-active, #setup .unslider-nav ol li.unslider-active {
    background: #fff;
    cursor: default;
    opacity: 1;
}

.screen .video_list {
    width: 32rem;
    height: auto;
    margin: 0 auto;
}

.video_list ul {
    display: table;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.video_list ul li {
    float: left;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.25rem;
    width: 16rem;
    height: 12rem;
    background: #fff;
}

.video_list ul li a {
    position: relative;
    display: block;
    border-bottom: solid 3px transparent;
    width: 100%;
    font-size: 0;
    background: #fff;
}

.imgbox {
    display: inline-block;
    width: 15.5rem;
    height: 9rem;
}

.imgbox img {
    width: 15.5rem;
    height: 9rem;
}

.video_list ul li a .dy {
    position: relative;
    display: inline-block;
    border-bottom: solid 3px transparent;
    width: 15.5rem;
    height: 1.5rem;
    font-size: 0.5rem;
    line-height: 1.5rem;
}

.video_list ul li a .dy .dy-name {
    float: left;
    position: relative;
    display: inline-block;
    border-bottom: solid 3px transparent;
    width: 10rem;
    height: 1.5rem;
    font-size: 0.8rem;
    color: #333;
}

.video_list ul li a .dy .dy-num {
    float: right;
    position: relative;
    display: block;
    border-bottom: solid 3px transparent;
    width: 3rem;
    height: 1.5rem;
    padding-right: .5rem;
    text-align: right;
    color: #333;
}

.video_list ul li a .dy-title {
    float: left;
    position: relative;
    display: block;
    border-bottom: solid 3px transparent;
    width: 10rem;
    height: 1.5rem;
    font-size: .6rem;
    color: #666;
}

.info_list_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-family: "Microsoft YaHei", Arial;
    font-size: 1.5rem;
    background-color: #eee;
}

header {
    position: relative;
    z-index: 100;
    top: 0;
    width: 32rem;
    height: 3rem;
}

header .back {
    position: absolute;
    margin-top: -2.5rem;
    font-family: Verdana, Sans-Serif;
    font-size: 20px;
    height: 2rem;
    width: 2rem;
    color: #fff;
}

header .back img {
    width: 100%;
    height: 100%;
}

.video_desc {
    display: inline-block;
    width: 100%;
    height: 3rem;
}

.video_desc .owner_avator {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.video_desc .owner_avator img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.video_desc .desc_right {
    display: inline-block;
    margin-left: 0.5rem;
    margin-top: 0;
    height: 3rem;
    width: 10rem;
    background-color: #fff;
}

.video_desc .desc_right .video_desc_owner_name {
    display: inline-block;
    margin-left: 0.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 10rem;
    background-color: #fff;
    font-size: .8rem;
    color: #333;
}

.video_desc .desc_right .video_desc_video_name {
    display: inline-block;
    margin-left: 0.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 10rem;
    background-color: #fff;
    font-size: .5rem;
    color: #666;
}

.comment_caption {
    display: inline-block;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: .8rem;
    border-bottom: solid 1px #e5e5e5;
}

.comment_list {
    width: 100%;
    min-height: 5rem;
}

.comment_list .comment_item {
    display: inline-block;
}

.comment_list .comment_item .comment_avator {
    display: inline-block;
    padding: .6rem;
    vertical-align: top;
    width: 2rem;
    min-height: 4rem;
}

.comment_list .comment_item .comment_avator img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.comment_list .comment_item .comment_item_right {
    display: inline-block;
    padding: 0;
    width: 28rem;
    min-height: 4rem;
    padding-bottom: .5rem;
    border-bottom: solid 1px #e5e5e5;
}

.comment_list .comment_item .comment_item_right .comment_item_caption {
    display: inline-block;
    width: 28rem;
    padding: 0;
    line-height: 2rem;
    height: 2rem;
    font-size: .8rem;
    color: #333;
}

.comment_list .comment_item .comment_item_right .comment_item_caption .commen_commenter_name {
    float: left;
}

.comment_list .comment_item .comment_item_right .comment_item_caption .commen_commenter_date {
    float: right;
    font-size: .5rem;
    color: #666;
}

.comment_list .comment_item .comment_item_right .comment_content {
    font-size: .5rem;
    color: #666;
}

.more {
    float: right;
    padding: .5rem;
    font-size: .8rem;
    color: #666;
}

a {
    color: #b4e3f1;
}